.top_menu {
    clear: both;
    float: none;
    padding: 25px 0 0;
}

.top_menu a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media (max-width: 1199px) {
    .top_menu {
        padding: 20px 0 5px;
    }
}

@media (max-width: 767px) {
    .top_menu {
        left: 0;
        padding: 0;
        // position: absolute;
        position: fixed;
        top: 0;
        width: 77px;
        z-index: 2;
    }
}

@media (max-width: 479px) {
    .top_menu {
        width: 25%;
        left: 0;
    }
}

.stickUpTop {
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}

.stickUpHolder {
    padding: 0;
    max-width: 100%;
}

@media only screen and (max-width: 1199px) {
    .isStuck .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 1500px) {
    .top_menu>ul>li>a,
    .top_menu .stickUpHolder>ul>li>a {
        padding: 0 20px 8px;
        font-size: 20px;
    }
}

.top_menu>ul,
.top_menu .stickUpHolder>ul {
    margin: 0;
}

.top_menu>ul>li,
.top_menu .stickUpHolder>ul>li {
    float: left;
    margin: 0 5px 10px;
}

.top_menu>ul>li>a,
.top_menu .stickUpHolder>ul>li>a {
    color: #333333;
    display: inline-block;
    font: 700 18px/1 "Lato", sans-serif;
    padding: 0 15px 8px;
    text-transform: uppercase;
}

.top_menu>ul>li>a:before,
.top_menu .stickUpHolder>ul>li>a:before {
    background: #fea7cc;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    opacity: 1;
    margin: auto;
    position: absolute;
    right: 0;
    width: 0;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.top_menu>ul>li>a.sf-with-ul,
.top_menu .stickUpHolder>ul>li>a.sf-with-ul {
    position: relative;
}

.top_menu>ul>li>a.sf-with-ul:after,
.top_menu .stickUpHolder>ul>li>a.sf-with-ul:after {
    font-family: "FontAwesome";
    content: "\f107";
    display: inline-block;
    font-weight: normal;
    bottom: 6px;
    position: absolute;
    right: 0;
}

@media (max-width: 1199px) {
    .top_menu>ul>li>a,
    .top_menu .stickUpHolder>ul>li>a {
        font-size: 16px;
        padding: 0 5px 5px;
    }
    .top_menu>ul>li>a.sf-with-ul:after,
    .top_menu .stickUpHolder>ul>li>a.sf-with-ul:after {
        position: static;
        right: auto;
        bottom: auto;
        padding-left: 5px;
    }
}

@media (max-width: 991px) {
    .top_menu>ul>li>a,
    .top_menu .stickUpHolder>ul>li>a {
        font-size: 14px;
        padding-left: 3px;
        padding-right: 3px;
    }
}

@media (max-width: 767px) {
    .top_menu>ul>li>a,
    .top_menu .stickUpHolder>ul>li>a {
        font-size: 20px;
        padding: 0 15px 8px 0;
    }
}

.top_menu>ul>li:hover>a,
.top_menu>ul>li.sfHover>a,
.top_menu>ul>li.sfHoverForce>a,
.top_menu>ul>li>a:hover,
.top_menu .stickUpHolder>ul>li:hover>a,
.top_menu .stickUpHolder>ul>li.sfHover>a,
.top_menu .stickUpHolder>ul>li.sfHoverForce>a,
.top_menu .stickUpHolder>ul>li>a:hover {
    color: #fea7cc;
}

.top_menu>ul>li:hover>a:before,
.top_menu>ul>li.sfHover>a:before,
.top_menu>ul>li.sfHoverForce>a:before,
.top_menu>ul>li>a:hover:before,
.top_menu .stickUpHolder>ul>li:hover>a:before,
.top_menu .stickUpHolder>ul>li.sfHover>a:before,
.top_menu .stickUpHolder>ul>li.sfHoverForce>a:before,
.top_menu .stickUpHolder>ul>li>a:hover:before {
    width: 100%;
}

.top_menu>ul>li:hover>span.menu-mobile-grover:after,
.top_menu .stickUpHolder>ul>li:hover>span.menu-mobile-grover:after {
    color: #fea7cc;
}

@media only screen and (min-width: 768px) {
    .top_menu>ul>li ul.is-simplemenu,
    .top_menu>ul>li ul.is-simplemenu ul,
    .top_menu .stickUpHolder>ul>li ul.is-simplemenu,
    .top_menu .stickUpHolder>ul>li ul.is-simplemenu ul {
        background: white;
        display: none;
        min-width: 350px;
        top: 0px;
        right: -200px;
        position: absolute;
        z-index: 99;
    }
}

@media only screen and (max-width: 767px) {
    .top_menu>ul>li ul.is-simplemenu,
    .top_menu>ul>li ul.is-simplemenu ul,
    .top_menu .stickUpHolder>ul>li ul.is-simplemenu,
    .top_menu .stickUpHolder>ul>li ul.is-simplemenu ul {
        background: white;
    }
}

.top_menu>ul>li>ul.is-simplemenu,
.top_menu .stickUpHolder>ul>li>ul.is-simplemenu {
    font: 400 14px/18px "Lato", sans-serif;
    left: 0;
    padding: 20px 0;
    right: auto;
    text-transform: uppercase;
    top: 50px;
    -moz-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
}

.top_menu>ul>li>ul.is-simplemenu a,
.top_menu .stickUpHolder>ul>li>ul.is-simplemenu a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media only screen and (max-width: 767px) {
    .top_menu>ul>li,
    .top_menu .stickUpHolder>ul>li {
        float: none;
        position: relative;
        width: 100%;
    }
    .top_menu>ul>li>a,
    .top_menu .stickUpHolder>ul>li>a {
        border-right: none;
    }
}

.top_menu ul.menu,
.top_menu .stickUpHolder ul.menu {
    text-align: left;
}

@media only screen and (max-width: 767px) {
    .top_menu ul.menu,
    .top_menu .stickUpHolder ul.menu {
        display: none;
    }
}

@media (max-width: 767px) {
    .top_menu ul.menu,
    .top_menu .stickUpHolder ul.menu {
        background: #f0f0f0;
        padding: 25px 18px;
        width: 285px;
    }
}

.top_menu img,
.top_menu .stickUpHolder img {
    width: 100%;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

.top_menu li a,
.top_menu .stickUpHolder li a {
    position: relative;
}

.top_menu li.simple,
.top_menu li li,
.top_menu .stickUpHolder li.simple,
.top_menu .stickUpHolder li li {
    position: relative;
}

.top_menu li li,
.top_menu .stickUpHolder li li {
    font: 400 14px/18px "Lato", sans-serif;
}

.top_menu li li a,
.top_menu .stickUpHolder li li a {
    color: #333333;
    display: block;
    padding: 4px 10px 6px 40px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.top_menu li li a:before,
.top_menu .stickUpHolder li li a:before {
    color: #fea7cc;
    padding-right: 10px;
    font-family: "Material Icons";
    content: "\e3fa";
    display: inline-block;
    font-weight: normal;
    font-size: 10px;
}

.top_menu li li.sfHover>a,
.top_menu li li:hover>a,
.top_menu li li.sfHoverForce>a,
.top_menu .stickUpHolder li li.sfHover>a,
.top_menu .stickUpHolder li li:hover>a,
.top_menu .stickUpHolder li li.sfHoverForce>a {
    background: #fea7cc;
    color: white;
}

.top_menu li li.megamenu_banner,
.top_menu .stickUpHolder li li.megamenu_banner {
    padding: 0 30px 0 0;
    position: relative;
    text-align: center;
}

.top_menu li li.megamenu_banner a,
.top_menu .stickUpHolder li li.megamenu_banner a {
    padding: 0;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .top_menu li li.megamenu_banner a:hover img,
    .top_menu .stickUpHolder li li.megamenu_banner a:hover img {
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
}

.top_menu li li.megamenu_banner a:before,
.top_menu .stickUpHolder li li.megamenu_banner a:before {
    display: none;
}

.top_menu li li.megamenu_banner .description,
.top_menu .stickUpHolder li li.megamenu_banner .description {
    left: 0;
    padding: 8% 6% 0;
    position: absolute;
    right: 0;
    top: 0;
}

.top_menu li li.megamenu_banner h4,
.top_menu .stickUpHolder li li.megamenu_banner h4 {
    color: #292929;
    font: 700 28px/35px "Playfair Display", serif;
    margin: 0 0 20px;
    padding: 0;
    text-transform: uppercase;
}

.top_menu li li.megamenu_banner .btn-default,
.top_menu .stickUpHolder li li.megamenu_banner .btn-default {
    background: none;
    border: none;
    color: #292929;
    font: 900 14px/1 "Lato", sans-serif;
    padding: 0;
    text-decoration: underline;
}

.top_menu .menu_badge,
.top_menu .stickUpHolder .menu_badge {
    position: absolute;
    top: -2px;
    right: -5px;
    z-index: 2;
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
}

@media only screen and (max-width: 767px) {
    .top_menu .menu_badge,
    .top_menu .stickUpHolder .menu_badge {
        right: auto;
        left: 5px;
    }
}

.top_menu .is-megamenu,
.top_menu .stickUpHolder .is-megamenu {
    background: white;
    display: none;
    width: 100%;
    -moz-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    padding: 15px 0;
}

@media only screen and (min-width: 768px) {
    .top_menu .is-megamenu,
    .top_menu .stickUpHolder .is-megamenu {
        left: 0;
        position: absolute;
        top: 95px;
        z-index: 1;
    }
}

.top_menu .is-megamenu .megamenu-row,
.top_menu .stickUpHolder .is-megamenu .megamenu-row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.top_menu .is-megamenu ul.content>.category+.category,
.top_menu .stickUpHolder .is-megamenu ul.content>.category+.category {
    margin-top: 15px;
}

.top_menu .is-megamenu ul.content>li>a,
.top_menu .stickUpHolder .is-megamenu ul.content>li>a {
    color: #333333;
    font: 700 25px/1 "Lato", sans-serif;
    margin-bottom: 15px;
}

.top_menu .is-megamenu ul.content>li>a:before,
.top_menu .stickUpHolder .is-megamenu ul.content>li>a:before {
    display: none;
}

.top_menu .is-megamenu ul.content>li.sfHover>a,
.top_menu .is-megamenu ul.content>li:hover>a,
.top_menu .is-megamenu ul.content>li.sfHoverForce>a,
.top_menu .stickUpHolder .is-megamenu ul.content>li.sfHover>a,
.top_menu .stickUpHolder .is-megamenu ul.content>li:hover>a,
.top_menu .stickUpHolder .is-megamenu ul.content>li.sfHoverForce>a {
    background: none;
    color: #fea7cc;
}

.top_menu .is-megamenu ul.content ul,
.top_menu .stickUpHolder .is-megamenu ul.content ul {
    display: block!important;
    opacity: 1!important;
}

.top_menu .menu-title,
.top_menu .stickUpHolder .menu-title {
    font-size: 0;
    height: 62px;
    padding: 0;
    position: relative;
    cursor: pointer;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.top_menu .menu-title.active,
.top_menu .menu-title:hover,
.top_menu .stickUpHolder .menu-title.active,
.top_menu .stickUpHolder .menu-title:hover {
    color: #fea7cc;
}

.top_menu .menu-title:after,
.top_menu .stickUpHolder .menu-title:after {
    font-family: "Material Icons";
    content: "\e5d2";
    display: inline-block;
    font-weight: normal;
    position: absolute;
    height: 30px;
    width: 30px;
    font-size: 30px;
    top: 20px;
    left: 50%;
    cursor: pointer;
    z-index: 1;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media only screen and (min-width: 768px) {
    .top_menu .menu-title,
    .top_menu .stickUpHolder .menu-title {
        display: none;
    }
}

.top_menu .menu-mobile-grover:before,
.top_menu .stickUpHolder .menu-mobile-grover:before {
    position: absolute;
    font-family: "Material Icons";
    content: "\e313";
    display: inline-block;
    font-weight: normal;
    color: #292929;
    height: 30px;
    width: 30px;
    font-size: 20px;
    top: 0px;
    right: 6px;
    cursor: pointer;
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    .top_menu .menu-mobile-grover:before,
    .top_menu .stickUpHolder .menu-mobile-grover:before {
        display: none;
    }
}

.top_menu .menu-mobile-grover.active:before,
.top_menu .stickUpHolder .menu-mobile-grover.active:before {
    content: '\e316';
}

@media only screen and (max-width: 767px) {
    .top_menu .is-simplemenu li .menu-mobile-grover:before,
    .top_menu .stickUpHolder .is-simplemenu li .menu-mobile-grover:before {
        top: 8px;
        right: 0;
        font-size: 18px;
    }
    .top_menu .is-simplemenu li a,
    .top_menu .stickUpHolder .is-simplemenu li a {
        display: block;
        font-size: 14px;
        padding: 8px 10px;
    }
    .top_menu .is-simplemenu li li a,
    .top_menu .stickUpHolder .is-simplemenu li li a {
        padding-left: 20px;
    }
    .top_menu .is-simplemenu li li li a,
    .top_menu .stickUpHolder .is-simplemenu li li li a {
        padding-left: 30px;
    }
    .top_menu .is-simplemenu li li li li a,
    .top_menu .stickUpHolder .is-simplemenu li li li li a {
        padding-left: 40px;
    }
    .top_menu li.simple ul,
    .top_menu .stickUpHolder li.simple ul {
        display: none;
    }
    .top_menu .megamenu-col.col-sm-3,
    .top_menu .stickUpHolder .megamenu-col.col-sm-3 {
        float: left;
        width: 50%;
    }
    .top_menu .megamenu-col.col-sm-3.first-in-line-sm,
    .top_menu .stickUpHolder .megamenu-col.col-sm-3.first-in-line-sm {
        clear: left;
    }
}

@media (max-width: 479px) {
    .top_menu .megamenu-col.col-sm-3,
    .top_menu .stickUpHolder .megamenu-col.col-sm-3 {
        width: 100%;
    }
}

@media (min-width: 1500px) {
    .top_menu ul.content>li>a,
    .top_menu .stickUpHolder ul.content>li>a {
        font-size: 30px;
    }
    .top_menu li li.megamenu_banner,
    .top_menu .stickUpHolder li li.megamenu_banner {
        padding-right: 40px;
    }
    .top_menu li li.megamenu_banner h4,
    .top_menu .stickUpHolder li li.megamenu_banner h4 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 25px;
    }
}

@media (max-width: 1199px) {
    .top_menu .is-megamenu ul.content>li>a,
    .top_menu .stickUpHolder .is-megamenu ul.content>li>a {
        font-size: 28px;
    }
    .top_menu li li.megamenu_banner,
    .top_menu .stickUpHolder li li.megamenu_banner {
        padding-right: 25px;
    }
    .top_menu li li.megamenu_banner h4,
    .top_menu .stickUpHolder li li.megamenu_banner h4 {
        font-size: 30px;
        line-height: 40px;
    }
    .top_menu li li a,
    .top_menu .stickUpHolder li li a {
        padding-left: 25px;
        padding-right: 0;
    }
}

@media (max-width: 991px) {
    .top_menu .is-megamenu ul.content>li>a,
    .top_menu .stickUpHolder .is-megamenu ul.content>li>a {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .top_menu li li.megamenu_banner,
    .top_menu .stickUpHolder li li.megamenu_banner {
        padding-right: 15px;
    }
    .top_menu li li.megamenu_banner h4,
    .top_menu .stickUpHolder li li.megamenu_banner h4 {
        font-size: 20px;
        line-height: 1;
        margin-bottom: 10px;
    }
    .top_menu li li a,
    .top_menu .stickUpHolder li li a {
        padding-left: 15px;
    }
}

@media (max-width: 767px) {
    .top_menu .is-megamenu .megamenu-row,
    .top_menu .stickUpHolder .is-megamenu .megamenu-row {
        padding-bottom: 0;
    }
    .top_menu li li.megamenu_banner,
    .top_menu .stickUpHolder li li.megamenu_banner {
        padding-right: 15px;
        padding-left: 15px;
    }
    .top_menu li li.megamenu_banner h4,
    .top_menu .stickUpHolder li li.megamenu_banner h4 {
        font-size: 24px;
        line-height: 28px;
    }
    .top_menu [class*='col-'],
    .top_menu .stickUpHolder [class*='col-'] {
        float: none!important;
        margin-bottom: 15px;
        width: 100%!important;
    }
}

.red {
    background: #f00;
}

.menuvideowrapper {
    clear: both;
    float: none;
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    width: 100%;
}

.menuvideowrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.frontend-map {
    min-height: 200px;
}

.left_column_menu .block_content li,
.right_column_menu .block_content li {
    position: relative;
}

.left_column_menu .block_content li.simple ul,
.right_column_menu .block_content li.simple ul {
    display: none;
}

@media only screen and (min-width: 768px) {
    .left_column_menu .block_content li.simple ul,
    .right_column_menu .block_content li.simple ul {
        position: absolute;
        top: -1px;
        width: 200px;
        border: 1px solid #ccc;
        background: #fff;
        z-index: 999;
    }
}

@media only screen and (max-width: 767px) {
    .left_column_menu .block_content li.simple ul li,
    .right_column_menu .block_content li.simple ul li {
        border-top: 1px solid #ccc;
        position: relative;
    }
    .left_column_menu .block_content li.simple ul li a,
    .right_column_menu .block_content li.simple ul li a {
        display: block;
        padding: 10px 0 10px 15px;
        position: relative;
    }
    .left_column_menu .block_content li.simple ul li li a,
    .right_column_menu .block_content li.simple ul li li a {
        padding-left: 25px;
    }
}

.left_column_menu .block_content>ul>li,
.right_column_menu .block_content>ul>li {
    border-top: 1px solid #ccc;
    position: relative;
}

.left_column_menu .block_content>ul>li>a,
.right_column_menu .block_content>ul>li>a {
    display: block;
    padding: 10px 0;
    position: relative;
}

.left_column_menu .block_content>ul>li:first-child,
.right_column_menu .block_content>ul>li:first-child {
    border: none;
}

.left_column_menu .block_content span.menu_badge,
.right_column_menu .block_content span.menu_badge {
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
}

.left_column_menu .block_content li.simple li a,
.right_column_menu .block_content li.simple li a {
    padding: 4px 5px;
    display: block;
}

.left_column_menu .block_content div.is-megamenu,
.right_column_menu .block_content div.is-megamenu {
    display: none;
}

.left_column_menu .block_content div.is-megamenu ul,
.right_column_menu .block_content div.is-megamenu ul {
    display: block!important;
    opacity: 1!important;
}

.left_column_menu .block_content div.is-megamenu ul.content>li>a,
.right_column_menu .block_content div.is-megamenu ul.content>li>a {
    font-weight: bold;
    text-transform: uppercase;
}

.left_column_menu .block_content div.is-megamenu ul.content>li li,
.right_column_menu .block_content div.is-megamenu ul.content>li li {
    padding-left: 5px;
}

@media only screen and (min-width: 768px) {
    .left_column_menu .block_content div.is-megamenu,
    .right_column_menu .block_content div.is-megamenu {
        position: absolute;
        top: 0;
        width: 600px;
        padding: 15px;
        background: #fff;
        border: 1px solid #ccc;
        z-index: 999;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3,
    .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3 {
        width: 50%;
        float: left;
    }
    .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm,
    .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm {
        clear: left;
    }
}

.left_column_menu .block_content .menu-mobile-grover:after,
.right_column_menu .block_content .menu-mobile-grover:after {
    position: absolute;
    right: 0;
    top: 12px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 15px;
    content: "\f067";
    font-family: 'FontAwesome';
    z-index: 1;
    cursor: pointer;
}

.left_column_menu .block_content .menu-mobile-grover.active:after,
.right_column_menu .block_content .menu-mobile-grover.active:after {
    content: "\f068";
}

.left_column_menu li.simple ul {
    right: -200px;
}

.right_column_menu li.simple ul {
    left: -200px;
}

.left_column_menu div.is-megamenu {
    right: -600px;
}

.right_column_menu div.is-megamenu {
    left: -600px;
}
