.j-product-object-user-list li{
    max-width: 92px;
    float: left;
    text-align: center;
    text-decoration: underline;
}

.j-product-object-user-list .j-product-object-user-item{
    background: #FFF;
    padding: 4px;
    border: 2px solid #FFF;
    margin: 5px;
}

.j-product-object-user-list .j-product-object-user-item.active{
    /*background: #00dcdb;*/
    background: #f8c4d8;
    padding: 4px;
}

.j-product-object-user-list .j-product-object-user-item:hover{
    border: 2px solid #f8c4d8;
}

.vert_scrolle{
    overflow: hidden;
    overflow-y: scroll;
    height: auto;
    max-height: 600px;
}
.c-event-list{
    margin: 0;
    padding: 0 !important;
}
.c-event-item-edit{
    text-decoration: underline;
    /*margin-left: 12px;*/
    width: 34px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.c-event-item{
    list-style-type: none !important;
    padding-top: 5px !important;
    padding-left: 6px !important;
    border-left: 3px #fcf8e3 solid;
    border-top: 1px solid #faebcc;
    margin-top: 6px;
}
.c-event-item .btn.btn-danger{
    margin-right: 5px;
    padding: 3px 6px;
    margin-top: 15px;
}
.c-event-item .btn.btn-danger:focus,
.c-event-item .btn.btn-danger:active,
.c-event-item .btn.btn-danger:hover{
    color:#fff;
}
.c-event-item.active{
    /* border-left: 3px #00dcdb solid !important;*/
    border-left: 3px #f8c4d8 solid !important;
}

.btn-small1{
    min-height: 35px !important;
    min-width: 115px !important;
    padding: 11px 12px !important;
}

.j-receiver-add-form .status{
    color: #B00;
    font-size: 14px;
}

.c-event-form .fileinput-cancel-button{
    display: none;
}


.c-event-form .btn-file{
    min-width: 180px !important;
}

.control-label{
    font-size: 16px;
}

.cart_summary_price td{
    font-size: 24px !important;
    color: #fea7cc !important;
    font-weight: bold;
}