
.slider_bar {
    background-color: #f0f0f0;
}

.slider_bar .follow_bar {
    background-color: #fea7cc;

}
.slider_knob{
    background: #fff !important;
    width: 6px !important;
    height: 28px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    border: solid 1px #9b9b9b !important;
    display: block !important;
    background: #fff;
}

.sglide-buttons {
    vertical-align: middle;
    border-radius: 9px;
    font-size: 24px;
    margin-top: -4px;
    color: #9b9b9b;
}

.sglide-buttons:hover,
.sglide-buttons:active { color: #fea7cc; }